.main-wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #00246C;
  color: #FFFFFF;

  padding: 30px;

  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.footer {
  background-color: #00246C;
  color: #FFFFFF;

  padding: 30px;

  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.content {
  background-color: #DDDDDD;
  color: #6E6E6E;

  padding: 60px 30px;

  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}